.login{
	margin-top:10%;
}
.login input{
	margin-left:5px;
}
.login span{
	margin-left:40px;
	width:60px;
}
.login legend{
	font-size:30px;
	margin-bottom:20px;
}
body{
	color:#C0F81B;
    background-color: black;
}
.btn_sub{
	width:60px;
	border:solid 2px green;
	background-color:#C0F81B;
	font-size:14px;
	font-family:微软雅黑;
}
