<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${user.home}/aili.log" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n" />
		</layout>
	</appender>
	<logger name="jdbc.sqltiming">         
		<level value="ERROR" />     
	</logger>
	<logger name="jdbc.connection">         
		<level value="ERROR" />     
	</logger>
	<logger name="jdbc.resultset">
		<level value="ERROR"/>
	</logger>
	<logger name="jdbc.audit">
		<level value="ERROR"/>
	</logger>
	<logger name="jdbc.sqlonly">
		<level value="ERROR"/>
	</logger>
	<logger name="jdbc.resultsettable" additivity="false"> 
		<level value="ERROR" /> 
		<appender-ref ref="CONSOLE" /> 
	</logger>
  	<root>
		<level value="${log4j.level}" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>