<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd 
                       http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">


	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<bean id="outLoggingInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
	<cxf:bus>
		<cxf:outInterceptors>
			<ref bean="outLoggingInterceptor" />
		</cxf:outInterceptors>
	</cxf:bus>
	<!-- xfire -->
	<jaxws:server id="getInfoService"
		serviceClass="org.hbhk.aili.test.server.ws.IGetInfoService" address="/getUsers">
		<jaxws:serviceBean>
			<!-- 要暴露的 bean 的引用 -->
			<ref bean="userServiceBean" />
		</jaxws:serviceBean>
		<jaxws:inInterceptors>
			<ref bean="outLoggingInterceptor" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="outLoggingInterceptor" />
		</jaxws:outInterceptors>
	</jaxws:server>

	<jaxws:endpoint id="helloService" implementor="bing.server.HelloServiceImpl"
		address="/helloService">

		<jaxws:inInterceptors>

		</jaxws:inInterceptors>

	</jaxws:endpoint>
</beans>