<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/jee 
			http://www.springframework.org/schema/jee/spring-jee.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/util
			http://www.springframework.org/schema/util/spring-util.xsd
			">
	<bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="tcp://127.0.0.1:61616" />
				<!-- <property name="userName"/>
				<property name="password"/> -->
			</bean>
		</property>
		<property name="maxConnections" value="100"></property>
	</bean>
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref local="jmsFactory" />
		</property>
		<!-- <property name="defaultDestinationName" value="hbhk-req" /> -->
		<!-- 区别它采用的模式为false是p2p为true是订阅 -->
		<!-- <property name="pubSubDomain" value="false" /> -->
	</bean>
	<bean id="jmsTransactionManager"
		class="org.springframework.jms.connection.JmsTransactionManager">
		<property name="connectionFactory" ref="jmsFactory" />
	</bean>

	<bean id="serverListener" class="org.hbhk.aili.jms.server.listener.BusinessListener" />

	<bean id="serverThreadPool" class="org.hbhk.aili.jms.server.process.ServerThreadPool">
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>

	<bean id="configuration" class="org.hbhk.aili.jms.server.definition.Configuration"
		scope="singleton" lazy-init="false">
		<property name="serviceConfigMap">
			<map>
				<!--配置需要接受消息的 监听 -->
				<entry key="hbhk_code1">
					<bean class="org.hbhk.aili.jms.server.definition.ServiceConfiguration">
						<!-- 请求转换 响应转换 <property name="messageConvertor" ref="messageConvertor" 
							/> -->
						<!-- 接受监听 -->
						<property name="processor" ref="userListener" />
						<!-- 响应队列 -->
						<property name="responseQueue" value="hbhk-res" />
						<!-- 状态队列 -->
						<property name="esbStatusQueue" value="hbhk-status" />
					</bean>
				</entry>
				<entry key="hbhk_code2">
					<bean class="org.hbhk.aili.jms.server.definition.ServiceConfiguration">
						<!-- 接受监听 -->
						<property name="processor" ref="userListener1" />
						<!-- 响应队列 -->
						<property name="responseQueue" value="hbhk-res1" />
						<!-- 状态队列 -->
						<property name="esbStatusQueue" value="hbhk-status" />
					</bean>
				</entry>
			</map>
		</property>
		<property name="serverThreadPool" ref="serverThreadPool" />
	</bean>

	<!-- 服务端接收请求 -->
	<bean id="serverContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="destinationName" value="hbhk-req" />
		<property name="transactionManager" ref="jmsTransactionManager" />
		<property name="messageListener" ref="serverListener" />
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="messageSelector" value="serviceCode in ('hbhk_code1')" />
		<!-- 设置固定的线程数 -->
		<!-- 	<property name="concurrentConsumers" value="6"></property> -->
		<!-- 设置动态的线程数 -->
		<property name="concurrency" value="2-9"></property>
		<!-- 设置最大的线程数 -->
		<!-- <property name="maxConcurrentConsumers" value="15"></property> -->
	</bean>
	<bean id="serverContainer1"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="concurrentConsumers" value="8" />
		<property name="destinationName" value="hbhk-req1" />
		<property name="transactionManager" ref="jmsTransactionManager" />
		<property name="messageListener" ref="serverListener" />
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="messageSelector" value="serviceCode in ('hbhk_code2')" />
	</bean>
	<bean id="userListener" class="org.hbhk.aili.jms.server.UserListener" />
	<bean id="userListener1" class="org.hbhk.aili.jms.server.UserListener1" />

</beans>
