<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<context-param>
		<param-name>override</param-name>
		<param-value>true</param-value>
	</context-param>
	<listener>
		<listener-class>org.hbhk.aili.core.server.listener.AppContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring.xml,classpath*:org/hbhk/**/server/META-INF/spring.xml</param-value>
	</context-param>
	<!--应用关闭时清除应用产生的class loader -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- 应用上下文 -->
	<listener>
		<listener-class>org.hbhk.aili.core.server.listener.AppContextListener</listener-class>
	</listener>
	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value><!-- 强制进行转码 -->
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- struts2 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>configProviders</param-name>
			<param-value>org.hbhk.aili.strutsmvc.server.provider.ModuleConfigProvider</param-value>
		</init-param>
		 <!--  <init-param>  
            <param-name>actionPackages</param-name>  
            <param-value>org.hbhk.aili.strutsmvc.server.action</param-value>  
        </init-param>  -->
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>


	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>

</web-app>
